body {
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* latar belakang putih */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #111827; /* teks abu gelap */
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}
